.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #3fbfff, #810ae2);
  height: 100vh;
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
}

.input-app {
  padding: 20px;
  min-height: 200px;
}

.mainApp {
  width: 90vw;
  height: 90vh;
  overflow-x: auto;
  margin: 5vh 0px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.input-actions {
  display: flex;
  align-items: flex-start;
}
